/* main stylings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: 'Source Code Pro', monospace;
  opacity: 0.8;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Other */

/* Logo */

.logo-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.logo {
  display: flex;
  padding: 15px;
}

.logo-text a {
  font-size: 44px;
  letter-spacing: 2px;
  font-family: 'Pacifico', cursive;
  color: #333;
  text-shadow: 0 0 70px #39ff14;
  -webkit-text-stroke: 1px #39ff14;
}

.logo:hover a {
  text-shadow: 0 0 100px #39ff14;
  -webkit-text-stroke: 1px #39ff14;
}

.logo-image {
  padding-left: 5px;
  font-size: 60px;
  color: #39ff14;
  text-shadow: 0 0 100px #39ff14;
  -webkit-text-stroke: 2px rgb(77, 77, 77);
}

.logo:hover i {
  color: #39ff14;
  text-shadow: 0 0 100px #39ff14;
  -webkit-text-stroke: 2px rgb(77, 77, 77);
}

/* Card styling */

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  border-radius: 2%;
}

.card:hover {
  padding: 31px;
}


.card-dark {
  background: #333;
  color: white;
}

.card p {
  padding: 1em;
}

article {
  margin-bottom: 40px;
}

.link-underline {
  border-bottom: white 1px solid;
}

.link-underline:hover {
  background: white;
  color: #333;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 30vh;
  align-items: flex-end;
  padding-bottom: 10px;
  opacity: 0.5;
}

footer:hover {
  opacity: 0.9;
}


